body {
    background-color: #dadadc;
	font-family: arial;
	font-size: 16px;
	margin: 0;
}

h1 {
    color: #E3001B;
    font-family: Arial;
    font-size: 28pt;
    font-weight: strong;
    margin: 0 0 0.25em;
}

h2, h3, h4, h5, h6 {
    color: #E3001B;
    font-family: Arial;
    font-size: 22pt;
    font-weight: normal;
    margin: 0 0 0.5em;
}

h7 {
	font-size: 9pt;
}

p {
    line-height: 1.5em;
    margin: 0 0 1em;
}

div.topCut {
	background-image: url("../images/topCut.gif") ;
	width: 100%;
	height: 16px;
	background-color: #DADADC;
	margin: 0 0 9px;
}

div.top {
	background-color: #ffffff;
	width: 999px;
}
div.logoTitle {
	margin: 0 0 10px 0;
}

span.bookTitle {
	float: right;
	color: #999999;
	font-size: 2.5em;
    font-weight: bold;
	margin: 10px 35px 0 0;
}

div.navigation {
	height: 27px;
	width: 999px;
	border-bottom: 1px solid #dadadc;
    border-top: 1px solid #dadadc;
	font-size: 16pt;
	overflow: hidden;
}

div.navigation ul {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-type: none;
}

div.navigation a {
    color: #5B6269;
}

div.navigation ul li {
	background-image: url("../images/gray_gradient2.png");
	background-repeat: repeat-x;
	border-right: 1px solid #AAAAAA;
	float: left;
    font-size: 0.55em;
	list-style-type: none;
    margin: 0;
	padding: 0;
	width: 33.22%;
}

div.navigation ul li a:focus, div.navigation ul li a:hover, div.navigation ul li a:active {
    background: none repeat scroll 0 0 #dadadc; 
	background-image: url("../images/gray_gradient2-mouseover.png");
}

div.navigation ul li a, div.navigation ul li strong {
	display: block;
	font-weight: bold;
    padding: 0.5em 1.9em 0.5em;
	text-decoration: none !important;
}

div.navigation ul li a img {
    margin-bottom: -3px;
}

div.navigation ul li.first {
	text-align: left;
	border-right: 0 none;
	width: 333px;
}

div.navigation ul li.middle {
    text-align: center;
	border-right: 0 none;
	width: 333px;
}

div.navigation ul li.last {
    border-right: 0 none;
    text-align: right;
	width: 333px;
}

div.all{
	margin-left: auto ;
	margin-right: auto ;
	height: 768px;
	width: 999px;
	text-align: left;
}

div.content {
	
    /*width: 50em;
     border-left: 1px solid gray;
	border-right: 1px solid gray;*/
}

.hide {
	display: none;
}

.show {
	display: block;
}

div.bottom {
	clear:both;
    border-top: 1px solid gray;
	background: none repeat scroll 0 0 #F9F9F9;
    color: #666666;
    margin: 0 0px;
    padding: 10px 20px;
    text-align: left;
	width: 959px;
}

div.bottomarea {
    /*border-left: 1px solid gray;
    width: 50em;
    border-right: 1px solid gray;*/
}

div.content div.left{
	background-color: #ffffff;
	width: 20px;
	height:600px;
	padding-right:20px;
	padding-left: 3px;
	text-align: center;
	min-height: 3em;   
	display: table-cell;   
	vertical-align: middle; 

}

div.content div.center{
	background-color: #ffffff;
	padding: 20px 10px;
	height: 600px;
	width: 893px;
	overflow: auto;
	min-height: 3em;   
	display: table-cell;   
}

div.content div.right{
	background-color: #ffffff;
	width: 20px;
	height:600px;
	padding-right:3px;
	padding-left: 20px;
	text-align: center;
	min-height: 3em;   
	display: table-cell;   
	vertical-align: middle; 

}

table.content {
	border-bottom: 1px solid #888888;
    border-collapse: collapse;
    border-top: 1px solid #888888;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

div.content ul{
	list-style-image: url('../images/bullet.gif');
}

div.bottom ul{
	list-style-image: url('../images/bullet.gif');
}
table.content tbody th {
    border-bottom: 1px solid #FFFFFF;
    text-align: left;
	background: none repeat scroll 0 0 #E0E0E0;
    color: #333333;
}


th, td {
    padding: 0.5em;
	border:1px solid #888888;
}

div.bottom a {
    background: none repeat scroll 0 0 transparent;
    color: #5B6269;
    font-weight: bold;
	font-size: 12px;

}

div.coverPage
{
	height: 80%;
	width: 100%;
	background: url('../images/cover_page.png') no-repeat bottom right;
}

div.coverPageText
{
	position: relative;
    text-align: center;
	bottom: -425px;
}

div.coverPageText p
{
	margin: 0 0 0;
}

p.tocPageText
{
	width: 50%;
}

div.temp
{
	width: 893px;
}

div.numberAndTitle
{
	background-color: #FFFFFF;
	color: #5b6269;
}

span.count
{
	bottom: 10px;
	float: right;
    font-size: 11px;
    font-weight: bold;
	padding-right: 15px;
    position: relative;
}

span.bottomTitle
{
    bottom: 10px;
    font-size: 11px;
    font-weight: bold;
    left: 25px;
    position: relative;
}

.coverPageHeading
{
	padding-top: 50px;
    padding-left: 5px;
}

div.chunkNavigation {
    font-size: 90%;
	width: 999px;
}

div.toc ul {
    list-style-type: decimal;
    list-style-image: none;
}

a:link, a:visited {
	text-decoration: none;
	color: #5b6269;
}

a:hover {
	text-decoration: underline;
}


img {
  border: 0px; /* otherwise img's inside a's have those fat blue boxes around them */
}

p.note {
  border: 1px solid gray;
  margin: 10px 10px 10px 10px;
  padding: 2px 2px 2px 40px;
  background-image: url("../images/note.png");
  background-position: 10px 2px;
  background-repeat: no-repeat;
  min-height: 24px;
}

p.warn {
  border: 1px solid gray;
  margin: 10px 10px 10px 10px;
  padding: 2px 2px 2px 40px;
  background-image: url("../images/important.png");
  background-position: 10px 2px;
  background-repeat: no-repeat;
  min-height: 24px;
}

p.fixme {
  border: 1px solid gray;
  margin: 10px 10px 10px 10px;
  padding: 2px 2px 2px 40px;
  background-image: url("../images/fixme.png");
  background-position: 10px 2px;
  background-repeat: no-repeat;
  min-height: 24px;
}



/* Special 'borderless' tables part of document content. */
table.borderless {
  border-spacing: 0pt;
  border-collapse: collapse;
  margin-top: 4px;
  margin-bottom: 4px;
  border: none;
}
table.borderless tbody tr td {
  padding: 2px 4px 2px 4px;
  border: none;
}
table.borderless tbody tr th {
  background-color: lightgray;
  padding: 2px 4px 2px 4px;
  border: none;
}


table.content tbody tr td {
    border:1px solid #888888;
}

table.content tbody tr th {
    border:1px solid #888888;
}


.imageCaption {
    text-align: center;
    border: 0px;
}

table.plainTable tbody tr td {
    border: 0px;
}


/* Special table for BRRP Router */
table.BRRPRouter {
  border-spacing: 0em;
  border-collapse: collapse;
  font-size: small;
  margin-top: .3em;
  margin-bottom: .3em;
  border: 1px solid black;
}

table.BRRPRouter tbody tr th {
  background-color: #ddd;
  padding: .2em .3em .2em .3em;
  border-bottom: 1px solid black;
}

table.BRRPRouter tbody tr td {
  padding: .2em .3em .2em .3em;
  background-color: #eee;
}

pre {
  background-color: #F0F0F0;
  border: 1px solid black;
  font-family: monospace;
  font-size: 9pt;
  padding: 5px;
}

/*
    * The following rules are taken from Mozilla's quirck mode stylesheet.
    * See http://lxr.mozilla.org/seamonkey/source/layout/html/document/src/quirk.css
    * They avoid the top and bottom margin of elements in table cells.
    */
td > form:-moz-first-node, th > form:-moz-first-node,
td > p:-moz-first-node, th > p:-moz-first-node,
td > dl:-moz-first-node, th > dl:-moz-first-node,
td > multicol:-moz-first-node, th > multicol:-moz-first-node,
td > blockquote:-moz-first-node, th > blockquote:-moz-first-node,
td > h1:-moz-first-node, th > h1:-moz-first-node,
td > h2:-moz-first-node, th > h2:-moz-first-node,
td > h3:-moz-first-node, th > h3:-moz-first-node,
td > h4:-moz-first-node, th > h4:-moz-first-node,
td > h5:-moz-first-node, th > h5:-moz-first-node,
td > h6:-moz-first-node, th > h6:-moz-first-node,
td > listing:-moz-first-node, th > listing:-moz-first-node,
td > plaintext:-moz-first-node, th > plaintext:-moz-first-node,
td > xmp:-moz-first-node, th > xmp:-moz-first-node,
td > pre:-moz-first-node, th > pre:-moz-first-node,
td > ul:-moz-first-node, th > ul:-moz-first-node,
td > menu:-moz-first-node, th > menu:-moz-first-node,
td > dir:-moz-first-node, th > dir:-moz-first-node,
td > ol:-moz-first-node, th > ol:-moz-first-node {
   margin-top: 0;
}

td > p:-moz-last-node, th > p:-moz-last-node {
   margin-bottom: 0;
}

td > form:empty:-moz-first-node, th > form:empty:-moz-first-node,
td > p:empty:-moz-first-node, th > p:empty:-moz-first-node,
td > dl:empty:-moz-first-node, th > dl:empty:-moz-first-node,
td > multicol:empty:-moz-first-node, th > multicol:empty:-moz-first-node,
td > blockquote:empty:-moz-first-node, th > blockquote:empty:-moz-first-node,
td > h1:empty:-moz-first-node, th > h1:empty:-moz-first-node,
td > h2:empty:-moz-first-node, th > h2:empty:-moz-first-node,
td > h3:empty:-moz-first-node, th > h3:empty:-moz-first-node,
td > h4:empty:-moz-first-node, th > h4:empty:-moz-first-node,
td > h5:empty:-moz-first-node, th > h5:empty:-moz-first-node,
td > h6:empty:-moz-first-node, th > h6:empty:-moz-first-node,
th > listing:empty:-moz-first-node,
th > plaintext:empty:-moz-first-node,
td > xmp:empty:-moz-first-node, th > xmp:empty:-moz-first-node,
td > pre:empty:-moz-first-node, th > pre:empty:-moz-first-node,
td > ul:empty:-moz-first-node, th > ul:empty:-moz-first-node,
td > menu:empty:-moz-first-node, th > menu:empty:-moz-first-node,
td > dir:empty:-moz-first-node, th > dir:empty:-moz-first-node,
td > ol:empty:-moz-first-node, th > ol:empty:-moz-first-node {
   margin-bottom: 0;
}

td > form:empty:-moz-last-node, th > form:empty:-moz-last-node,
td > p:empty:-moz-last-node, th > p:empty:-moz-last-node,
td > dl:empty:-moz-last-node, th > dl:empty:-moz-last-node,
td > multicol:empty:-moz-last-node, th > multicol:empty:-moz-last-node,
td > blockquote:empty:-moz-last-node, th > blockquote:empty:-moz-last-node,
td > h1:empty:-moz-last-node, th > h1:empty:-moz-last-node,
td > h2:empty:-moz-last-node, th > h2:empty:-moz-last-node,
td > h3:empty:-moz-last-node, th > h3:empty:-moz-last-node,
td > h4:empty:-moz-last-node, th > h4:empty:-moz-last-node,
td > h5:empty:-moz-last-node, th > h5:empty:-moz-last-node,
td > h6:empty:-moz-last-node, th > h6:empty:-moz-last-node,
td > listing:empty:-moz-last-node, th > listing:empty:-moz-last-node,
td > plaintext:empty:-moz-last-node, th > plaintext:empty:-moz-last-node,
td > xmp:empty:-moz-last-node, th > xmp:empty:-moz-last-node,
td > pre:empty:-moz-last-node, th > pre:empty:-moz-last-node,
td > ul:empty:-moz-last-node, th > ul:empty:-moz-last-node,
td > menu:empty:-moz-last-node, th > menu:empty:-moz-last-node,
td > dir:empty:-moz-last-node, th > dir:empty:-moz-last-node,
td > ol:empty:-moz-last-node, th > ol:empty:-moz-last-node {
  margin-top: 0;
}
